.search-bar {
    background-color: #000000b8;
    display: flex;
    justify-content: center;
    margin: 0 28rem 2rem;
    padding: 1em 3em;
    border-radius: 1rem;
}

select, input, button {
    margin: .5rem;
    padding: 1em;
    background-color: #363636;
    color: #ffe81f;
    border-radius: 1em;
    font-size: 1rem;
}

input:focus, select:focus, button:focus {
    outline: none !important;
    border:1px solid #ffe81f;
    box-shadow: 0 0 10px #fff383;
  }