.container {
    background-color: #000000b8;
    border-radius: 1rem;
    margin: 1rem 4rem;
    padding: 1.5em;
}

.container p {
    font-size: 1.2rem;
    line-height: 1.4;
}
h4 {
    text-align: center;
    font-size: 1.5rem;
}

.note {
    font-family: serif;
    font-size: 0.8rem;
}
p {
    text-align: center;
}