<div class="container">
    <p>This is the Star War search engine. Learn information on different characters in the Star Wars universe. This application utilizes the free <a href="https://swapi.dev/" target="_blank">SWAPI</a>* API to get and display information on the user's query. 
</p>
<h4><a href="" (click)="toggleInfo($event)">Functionality</a></h4>
<p [style.display]="isInfoVisible ? 'block' : 'none'">still developing
    <br>
    currently the People and Films searches work. it is also possible to search without inputting a full name. For example searching for "luke" under the "People" tab will return "Luke Skywalker". Under the "Films" tab, searching for "empire" will return "Empire Strikes Back".</p>
<p class="note">*API only has data for episodes 1-6.</p>
<p>
    Scroll down and find what you're looking for from a galaxy far, far away.
</p> 
</div>