@keyframes load-process {
    0% {
        left: 0px;
    }

    100% {
        left: 300px;
    }
}

#loader {
    transform: rotate(90deg);
    animation: load-process .6s infinite;
    position: relative;
}

#deathstar {
    position: relative;
    bottom: 250px;
    left: 530px;
    transform: scale(.5);
}

#noResults {
    background-color: #000000b8;
    border-radius: 1rem;
    padding: 1em;
}